
{% extends "master_verify_email.html" %}

{% block title %}Send OTP to Email{% endblock %}

{% block body %}
    <div class="otp-container">
        <h2>Send OTP to Email</h2>
        <form class="otp-form" id="send-otp-form" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
            <button type="submit">Send OTP</button>
        </form>
        <div id="response-message"></div>
    </div>
{% endblock %}

